<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/yz.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
    <link rel="stylesheet" href="/static/css/mlogin.css">
    <title>登录</title>
    <!--[if gte IE 8]>
    <script src="js/placeholder.min.js"></script>
    <![endif]-->
    <script>
        function show() {
            code.style.display = "block";
        }
        function hide() {
            code.style.display = "none";
        }
    </script>
</head>

<body>
<header>
    <div id="head_m"></div>
</header>
<article>
    <section>
        <div class="log_content">
            <div class="log_message">
                <form class="registerform" action="/login/" method="post">
                    {% csrf_token %}
                    <ul>
                        <li class="log_text">
                            <label>登录</label>
                        </li>
                        <li>
                            <div style="border-top: 0.02rem solid #b3d4fc;width: 4.5rem;height: 0.02rem;background:#b3d4fc;margin:0.1rem 0 0 -0.8rem"></div>
                        </li>
                        <li class="call_text">
                            <label>手机:</label>
                        </li>
                        <li class="call_inp">
                            <label style="z-index:999">{{ form.username }}</label>
                            <label style="float:left">
                                <div style="border:0 solid #000;width:0.45rem;height:0.3rem;margin-top: 0.3rem;"></div>
                            </label>
                        </li>
                        <li style="clear: both;"></li>

                        <li class="pwd_text">
                            <label>密码:</label>
                        </li>
                        <li class="pwd_inp">
                            <label style="z-index:999">{{ form.password }}</label>
                            <label style="float:left">
                                <div style="border:0 solid #000;width:0.45rem;height:0.3rem;margin-top: 0.3rem;"></div>
                            </label>
                        </li>
                        <li style="clear: both;"></li>
                        <li class="pic_code">
                            <label>验证码:</label>
                        </li>
                        <li class="pic_inp">
                            <label style="z-index:999">{{ form.vcode }}</label>
                            <label class="pic_number"><img
                                    onclick="this.setAttribute('src',{% url 'verifycode' %} + '?nocache='+Math.random());"
                                    src="{% url 'verifycode' %}"/></label>
                            <label style="float:left">
                                <div style="border:0 solid #000;width:0.45rem;height:0.3rem;margin-top: 0.3rem;"></div>
                            </label>
                        </li>
                        <li style="clear: both;"></li>
                        <div style="border-top: 0.02rem solid #b3d4fc;width: 4.5rem;height: 0.02rem;background:#b3d4fc;margin:0.3rem 0 0 -0.8rem"></div>

                        <li class="confirm_sub">
                            <label class="label"> </label>
                            {% if next %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% endif %}
                            <label><input type="submit" value="登陆"> </label>
                        </li>
                        <li class="footer_text">
                            <label class="fgetpwd_text"><a
                                    href="{% url 'forgetpw_m' %}">忘记密码?</a></label>
                            <label class="sign_name">没有天天搜贷账号,<a
                                    href="{% url 'register_m' %}">注册</a></label>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    $(function () {
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                alert('{{ error }}');
                {% endfor %}
                {% endif %}

                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        alert('{{ error }}');
                        {% endfor %}
                        {% endif %}

                        {% if form.vcode.errors %}
                            {% for error in form.vcode.errors %}
                                alert('{{ error }}');
                                {% endfor %}
                                {% endif %}


                                //$(".registerform").Validform();  //就这一行代码！;

                                var demo = $(".registerform").Validform({
                                    tiptype: 3,
                                    label: ".label",
                                    showAllError: true,
                                    datatype: {
                                        "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
                                    },
                                    ajaxPost: false
                                });

                                //通过$.Tipmsg扩展默认提示信息;
                                //$.Tipmsg.w["zh1-6"]="请输入1到6个字符！";
                                demo.tipmsg.w["zh1-6"] = "请输入1到6个字符！";

                                demo.addRule([
                                    {
                                        ele: ".inputxt:eq(0)",
                                        datatype: "m"
                                    },
                                    {
                                        ele: ".inputxt:eq(1)",
                                        datatype: "*1-20"
                                    },
                                    {
                                        ele: ".inputxt:eq(2)",
                                        datatype: "n4"
                                    }
                                ]);

                            })
</script>
<script type="text/javascript">
    $(function(){
        $.get("/m/search/",function(data){ $('#head_m').html(data.content_html);});
    });
</script>
</body>
</html>
