body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,button{ margin:0; padding:0; -webkit-tap-highlight-color:rgba(255,255,255,0); }
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 100px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#fff;}
.seach_cheek{ display:block; background:#c50512; color:#fff; text-align:center; line-height:0.3rem; height:0.3rem; font-size:0.1rem; width:l.8rem;text-decoration:none;border-radius:3px;font-size: 0.15rem;}
.seach_cheek1{ display:block; background:#c50512; color:#fff; text-align:center; line-height:0.4rem; height:0.4rem; font-size:0.23rem; width:2rem;text-decoration:none;border-radius:3px;margin-top:0.4rem;float:left;}
.seach_cheekk{ display:block; background:#c50512; color:#fff; text-align:center; line-height:0.4rem; height:0.4rem; font-size:0.23rem; width:2rem;margin-top:0.4rem;float:right;margin-right:0.4rem;border:none;border-radius:2px; text-decoration:none;}
.seach_cheek:hover{ background:#d23c46; color:#fff;}
.seach_cheekk:hover{ background:#d23c46; color:#fff;}
body{height:100%;overflow:hidden;min-width:5rem;width: expression_r( document.body.clientWidth < 5.1 ? "5rem" : "auto" );}
.search_reorder{font-size:0.21rem;height:0.6rem;padding-left:2.4rem;}
.search_reorder ul li a{color:#000000;}
.search_reorder a{text-decoration:none;}
.search_reorder a:hover{color:#FF0000;}
.search_reorder a.order_jx,.search_reorder a.order_sx{ background:#c50512; color:#fff; border:1px solid #c50512;}
.search_reorder a.order_jx i{ background:url(../images/jiantou.png) no-repeat right center; padding-right:10px;}
.search_reorder a.order_sx i{background:url(../images/jiantou1.png) no-repeat right center;padding-right:10px;}

.search_title{font-size:0.21rem;}
.search_bd{float:left;}
.ckxq{float:right;margin-right:0.2rem;border-radius:4px;width: 1rem;}
.search_bd img{width:1.5rem;height:0.3rem;}
.neirong{font-size:0.2rem;float:left;margin-top:0.2rem;}
.neirong1{padding-left:0.2rem;float:left;margin-top:0.2rem;padding-right:0.2rem;}
.log_contenttt {
    width: 4.6rem;
    height: 7.4rem;
    font-size: 0.32rem;
    background-color: #fff;
    font-style: normal;
    border-radius: 4px;
    margin-top: -0.2rem;
    margin-left: 0.2rem;
}
.log_contentt {
    width: 4.6rem;
    height: 6.2rem;
    font-size: 0.32rem;
    background-color: #fff;
    font-style: normal;
    border-radius: 4px;
    margin-top: -0.2rem;
}
.log_conten{width: 5rem;height:8.5rem;font-size: 0.32rem;background-color: #cccccc;font-style:normal;}
#page_navigation{margin-left:0.1rem;}
#container{width:5em;height:4.7}
/*分页*/
.pages{ padding:20px 0 10px 0; text-align:right;}
.pages a{color: #333;display:inline-block;line-height: 18px;padding: 2px 6px;border-radius: 10px;margin:0 5px;}
.pages a.before{border-radius:15px 10px 10px 15px;}
.pages a.after{border-radius:10px 15px 15px 10px;}
.pages a.active,.pages a:hover{border:1px solid #c50512;color:#c50512;}
.pages a.currentpage{color:#FF0000;}

/*分页结束*/
.bbs_hunt input.bbs_search_btn{ width:47px; height:42px; background:url(../images/search.png) no-repeat 0 0; border:none; cursor:pointer;}
