<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/mlogin.css">
    <script type="text/javascript" src="/static/js/public.js"></script>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>


    <!--[if gte IE 8]>
    <script src="js/placeholder.min.js"></script>
    <![endif]-->
    <script>
        function show() {
            code.style.display = "block";
        }
        function hide() {
            code.style.display = "none";
        }
    </script>
</head>

<body>
<header>
    <div>
        <ul>
            <li class="nav_img">
                <label><img src="/static/images/logo_red.png"></label>
            </li>
            <li class="seacher_inp">
                <label><input type="text"> </label>
            </li>
            <li class="nav_btnimg">
                <label><img src="/static/images/topseacher.png"></label>
            </li>
            <li style="clear: both;">
            </li>
        </ul>
    </div>
</header>
<article>
    <section>
        <div class="log_content">
            <div class="log_message">
                <form class="registerform" action="/login/" method="post">
                    {% csrf_token %}
                    <ul class="log_text">
                        <label>登录</label></li>
                        <li>
                            <div style="border-top: 1px solid #b3d4fc;width: 4.5rem;height: 0.01rem;border: 0;background:#b3d4fc;margin:0.1rem 0 0 -0.8rem"></div>
                        </li>
                        <li class="call_text">
                            <label>手机:</label>
                        </li>
                        <li class="call_inp">
                            <label style="float:left; z-index:999">{{ form.username }}</label>
                            <label style="float:left">
                                <div style="border:0px solid #000;width:90px;height:52px;"></div>
                            </label>
                        </li>
                        <li style="clear: both;"></li>
                        <li class="pwd_text">
                            <label> 密码44444444444444444：</label>
                        </li>
                        <li class="pwd_inp">
                            <label style="float:left;z-index:999">{{ form.password }}</label>
                            <label style="float:left">
                                <div style="border:0px solid #000;width:90px;height:52px;"></div>
                            </label>
                        </li>
                        <li style="clear: both;"></li>
                        <li class="pic_code">
                            <label> 验证码3333333333333333333333333：</label>
                        </li>
                        <li class="pic_inp">
                            <label style="float:left;z-index:999">{{ form.vcode }}</label>
                        <li>
                        <li class="pic_number">
                            <label><img
                                    onclick="this.setAttribute('src',{% url 'verifycode' %} + '?nocache='+Math.random());"
                                    src="{% url 'verifycode' %}"/></label>
                            <label style="float:left">
                                <div style="border:0px solid #000;width:90px;height:52px;"></div>
                            </label>
                        </li>
                        <li style="clear: both;"></li>
                        <div style="border-top: 1px solid #b3d4fc;width: 4.5rem;height: 0.01rem;border: 0;background:#b3d4fc;margin:0.3rem 0 0 -0.8rem"></div>

                        <li class="confirm_sub">
                            <label class="label"> </label>
                            {% if next %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% endif %}
                            <input type="submit" value="登陆"/>
                        </li>
                        <li class="footer_text">
                            <label class="fgetpwd_text"><a
                                    href="{% url 'forgetpw' %}">忘记密码?</a></label>
                            <label class="sign_name">没有天天搜贷账号,<a
                                    href="{% url 'register' %}">注册</a></label>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    $(function () {
        {%
            if form.username.errors %}
            {%
                for error in form.username.errors %}
                alert('{{ error }}');
                {%
                    endfor %
                }
                {%
                    endif %
                }

                {%
                    if form.password.errors %}
                    {%
                        for error in form.password.errors %}
                        alert('{{ error }}');
                        {%
                            endfor %
                        }
                        {%
                            endif %
                        }

                        {%
                            if form.vcode.errors %}
                            {%
                                for error in form.vcode.errors %}
                                alert('{{ error }}');
                                {%
                                    endfor %
                                }
                                {%
                                    endif %
                                }


                                //$(".registerform").Validform();  //就这一行代码！;

                                var demo = $(".registerform").Validform({
                                    tiptype: 3,
                                    label: ".label",
                                    showAllError: true,
                                    datatype: {
                                        "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
                                    },
                                    ajaxPost: false
                                });

                                //通过$.Tipmsg扩展默认提示信息;
                                //$.Tipmsg.w["zh1-6"]="请输入1到6个字符！";
                                demo.tipmsg.w["zh1-6"] = "请输入1到6个字符！";

                                demo.addRule([
                                    {
                                        ele: ".inputxt:eq(0)",
                                        datatype: "m"
                                    },
                                    {
                                        ele: ".inputxt:eq(1)",
                                        datatype: "*1-20"
                                    },
                                    {
                                        ele: ".inputxt:eq(2)",
                                        datatype: "n4"
                                    }
                                ]);

                            }
                        )
</script>
</body>
</html>
